.cart-link {
  position: fixed;
  right: 2rem;
  top: 2rem;
  background-color: #fff;
  color: grey;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 50%;
  box-shadow: 0 0.6rem 0.7rem rgba($color: #000000, $alpha: 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  .amount {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2193b0;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: -0.5rem;
    margin-bottom: -0.5rem;
  }

  &:hover {
    text-decoration: none;
  }
}
