<GeneralContainer>
  <div class="product item-details-page">
    <Product::Image @src={{this.productImage}} />
    <Product::Summary @color={{this.color}} @productInfo={{this.product}} @onChangeColor={{this.onChangeColor}} />
  </div>
</GeneralContainer>